/**
 * License Screen.
 */
.network-admin.admin_page_wholesome-network-plugin-manager {
    .fs-multisite-options-container {
        display: none;
    }
}

/** 
 * Dashboard.
 */
.wholesome-network-active-plugins {
    display: block;
    margin-top: 14px;

    &__label {
        color: #000000;
    }
}

body.plugins-php.network-admin {
    .row-actions span.delete .wholesome-network-active-plugins {
        a {
            color: #2271b1;
            &:hover {
                color: #135e96;
            }
        }
    }

    .plugins {
        .active.active--network {
            th.check-column,
            td {
                background-color: #fcf9e8;
            }

            th.check-column {
                border-color: #f5e6ab;
            }
        }

        .active.active--network + .plugin-update-tr td {
            background-color: #fcf9e8;
            border-color: #f5e6ab;
        }
    }

    .network-plugin-manager__row {
        align-items: center;
        border-bottom: 1px dotted rgba( 0, 0, 0, 0.1 );
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 1em;
        position: relative;
    
        label {
            flex: 1;
            margin-top: 9px;
            padding-right: 5px;

            @media only screen and (max-width: 782px) {
                margin-top: 5px;
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }
}



/**
 * Buttons.
 */
button.network-plugin-manager {
    background-color: unset;
    border: unset;
    color: #2271b1;
    cursor: pointer;
    margin: unset;
    padding: unset;

    &:hover, &:focus {
        color: #135e96;
    }

    &:focus {
        box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgb(79 148 212 / 80%);
        outline: 1px solid transparent;
    }
}

/**
 * Panel.
 */
.network-plugin-manager__toggle-panel {
    overflow: hidden;
}

/**
 * UI.
 */

/**
 * Toggle.
 */
.network-plugin-manager__icon {
    color: #bbb;
    cursor: pointer;
    font-size: 90%;
    margin-left: 5px;
    position: relative;
}

input[type="checkbox"].network-plugin-manager__toggle {
    -webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0;
    box-shadow: unset;
    cursor: pointer;
    margin-right: 22px;
    outline: 0;
	position: relative;
	
    &:focus {
        box-shadow: unset;
    }

    &:after {
        background: rgba( 196, 195, 195, 0.55 );
        border-radius: 20px;
        clear: both;
        content: '';
        display: inline-block;
        height: 22px;
        width: 38px;

        @media only screen and (max-width: 782px) {
            height: 26px;
            width: 42px;
        }
    }

    &:before {
        background: rgb( 255, 255, 255 );
        border-radius: 50%;
        box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.3 );
        content: '';
        display: block;
        height: 20px;
        left: 1px;
        position: absolute;
        top: 1px;
        transition: left .2s;
        width: 20px;

        @media only screen and (max-width: 782px) {
            height: 24px;
            width: 24px;
        }
    }

    &:checked:after {
        background: #4f94d4;
    }

    &:checked:before {
        left: 17px;
        margin: unset;
    }
}

/**
 * Slide Down
 */
.slide-down {
    transition: height .25s ease-out;
    height: 0;
    overflow: hidden;
}

/**
* Slide Up
*/
.slide-up {
    transition: height .25s ease-out;
    overflow: hidden;
}