.wholesome-network-active-plugins {
    display: block;
    margin-top: 14px;

    &__label {
        color: #000000;
    }
}

body.plugins-php.network-admin {
    .row-actions span.delete .wholesome-network-active-plugins {
        a {
            color: #2271b1;
            &:hover {
                color: #135e96;
            }
        }
    }

    .plugins {
        .active.active--network {
            th.check-column,
            td {
                background-color: #fcf9e8;
            }

            th.check-column {
                border-color: #f5e6ab;
            }
        }

        .active.active--network + .plugin-update-tr td {
            background-color: #fcf9e8;
            border-color: #f5e6ab;
        }
    }
}